.grid-item1 {
  grid-area: header;
  background-color: red;
}
.grid-item3 {
  height: 300px;
  background-color: yellow;
  grid-area: menu;
}
.grid-item2 {
  height: 150px;
  grid-area: main;
  background-color: blue;
}
.grid-item4 {
  background-color: greenyellow;
  grid-area: footer;
}
/* .grid-item5 {
  grid-area: aside;
  background-color: blue;
}
.grid-item6 {
  grid-area: aside1;
} */

.grid-container {
  display: grid;
  grid-template-areas:
    "header  header header"
    "menu menu menu "
    "main main main  " 
    "footer footer footer ";
grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  background-color: #2196f3;
  padding: 10px;
}

.grid-container > div {
  /* background-color: rgba(255, 255, 255, 0.8); */
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
body {
  background-color: black;
}
@media screen and (min-width : 600px ){
  body {
    background-color: lightgreen;
  } 

