.grid-item1 {
  grid-area: header;
  background-color: red;
}
.grid-item3 {
  height: 300px;
  background-color: yellow;
  grid-area: menu;
}
.grid-item2 {
  height: 150px;
  grid-area: main;
  background-color: blue;
}
.grid-item4 {
  background-color: greenyellow;
  grid-area: footer;
}
.grid-container {
  display: grid;
  grid-template-areas:
    "header  header header"
    "menu menu menu "
    "main main main  " 
    "footer footer footer ";
grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  background-color: #2196f3;
  padding: 10px;
}

.grid-container > div {
  /* background-color: rgba(255, 255, 255, 0.8); */
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
body {
  background-color: black;
}

@media screen and (min-width : 700px ){
body 
    {
     background-color: lightgreen;
    }
 
.grid-item1
    {
     grid-area: header;
     background-color: red;
    }
.grid-item3
    {
     height: 300px;
     background-color: yellow;
     grid-area: menu;
    }
.grid-item2 
    {
     height: 150px;
     grid-area: main;
     background-color: blue;
    }
.grid-item4
    {
     background-color: green;
     grid-area: footer;
    }

.grid-container 
    {
      display: grid;
      grid-template-areas:
        "header  menu menu"
        "header menu menu "
        "header main main  " 
        "header footer footer ";

      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
      background-color: #2196f3;
      padding: 10px;
    }
}

 @media screen and (min-width : 1024px ) {

body
    {
      background-color: white;
    }
.grid-item1 
    {
      grid-area: header;
      background-color: green;
    }
.grid-item3
    {
      height:400px;
      background-color: blue;
      grid-area: menu;
    }
.grid-item2 
    {
      height: auto;
      grid-area: main;
      background-color: red;
    }
.grid-item4 
    {
      background-color: yellow;
      grid-area: footer;
    }
.grid-container
    {
    display: grid;
    grid-template-areas:
      "header menu menu main"
      "header menu menu main "
      "header menu menu main  " 
      "header footer footer main ";
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    background-color: #2196f3;
    padding: 10px;
    height:100%;
    }
  }